
 

    <% if user_signed_in? && current_user.pilot %>
        <div class="container d-flex flex-column align-items-center justify-center">
             <div  div class="card-product card-product-resize">
                <%= image_tag "card-background-option-2" %>
                <div class="card-product-infos p-5">

                    <% if @trip.tickets.empty? %>   
                        <p>No Passengers Yet</p>
                    <% else %>
                            <p><strong>Travel Date:</strong> <%= @trip.launch_date.strftime("%d-%m-%Y") %></p>
                            <p><strong>Passengers: </strong></p>
                            <ul>
                                <% @trip.tickets.each do |ticket| %>
                                <li><p><%= ticket.user.first_name %></p></li>
                                <% end %>
                            </ul> 
                    <% end %>
               
                </div>  
        </div>
    <% end %>

    <% if user_signed_in? && !current_user.pilot %>
        <div class="container d-flex flex-column align-items-center justify-center">
           <div  div class="card-product card-product-resize">
            <%= image_tag "card-background-option-2" %>
            <div class="card-product-infos p-5">
                <p>Origin: <%= @trip.origin %></p>
                <p>Destination: <%= @trip.destination %></p>
                <p>Trip Price: <%= "#{@trip.price} Millions" %></p>
                <p>Spaceship Name: <%= @trip.spaceship_name %></p>
                <p>Max Tripulation: <%= @trip.max_tripulation %></p>
                <p>Available Seats: <%= @trip.max_tripulation - @trip.tickets.count %></p>
            </div>
        </div>

        <div class="container mt-5 pt-5 w-50">
            <%= simple_form_for [@trip, @ticket] do |f| %>
                <%= f.error :user %>
                <%= f.input :class_option, collection: Ticket::CLASS_OPTIONS %>
                <div data-controller="success">
                    <%= f.submit "Buy a Ticket for this Trip", class: "btn btn-success", id: "success-sound",
                        data: { action: "click->success#play", "success-target": "trigger", sound: (audio_path "starman.mp3")} %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>