

<h1> Your Trip: </h1>
<p>Origin: <%= @trip.origin %></p>
<p>Destination: <%= @trip.destination %></p>
<p>Trip Price: <%= "#{@trip.price} Millions" %></p>
<p>Spaceship Name: <%= @trip.spaceship_name %></p>
<p>Max Tripulation: <%= @trip.max_tripulation %></p>
<p>How many slots available: <%= @trip.max_tripulation %></p>
