
 

    <% if user_signed_in? && current_user.pilot %>
        <div class="container d-flex flex-column align-items-center justify-center">
             <div  div class="card-product card-product-resize">
                <%= image_tag "card-background-option-2" %>
                <div class="card-product-infos p-5">

                    <% if @trip.tickets.empty? %>   
                        <p>No Passengers Yet</p>
                    <% else %>
                            <p><strong>Travel Date:</strong> <%= @trip.launch_date.strftime("%d-%m-%Y") %></p>
                            <p><strong>Passengers: </strong></p>
                            <ul>
                                <% @trip.tickets.each do |ticket| %>
                                <li><p><%= ticket.user.first_name %></p></li>
                                <% end %>
                            </ul> 
                    <% end %>
               
                </div>  
        </div>
    <% end %>

    <% if user_signed_in? && !current_user.pilot %>
        <div class="container d-flex flex-column align-items-center justify-center">
          <h2 class="title-ticket">Your Trip Info:</h2>
           <div class="card-product card-product-resize" id="class-selection-card">
            <div class="card-img-astro">
                <%= image_tag "card-background-option-2" %>
            </div>
             
            <div data-controller="success" class="card-product-infos pt-3 pr-3 pl-3 pb-0 text-color-p" >
                <p><strong>Origin:</strong> <%= @trip.origin %></p>
                <p><strong>Destination:</strong> <%= @trip.destination %></p>
                <p><strong>Price:</strong> <%= "#{@trip.price} Millions" %></p>
                <p><strong>Spaceship Name:</strong> <%= @trip.spaceship_name %></p>
                <p><strong>Max Tripulation:</strong> <%= @trip.max_tripulation %></p>
                <div id="info-end">
                  <p><strong>Available Seats:</strong> <%= @trip.max_tripulation - @trip.tickets.count %></p>
                </div>
                  <%= simple_form_for [@trip, @ticket] do |f| %>
                      <%= f.error :user %>
                      <div class="d-flex align-items-center">
                        <%= f.input :class_option,
                                    include_blank: false,
                                    label: false,
                                    collection: Ticket::CLASS_OPTIONS,
                                    wrapper_html: { class: 'mb-0 pr-4',  data: {"success-target": "hidden"} }            
                        %>
                        <div>
                            <%= f.submit "Buy Ticket", class: "btn btn-success", id: "buy-button",
                                data: { action: "click->success#play",
                                        "success-target": "trigger",
                                        sound: (audio_path "starman.mp3"),
                                        redirect: trips_path
                                    } %>
                       </div>
                    </div>
                  <% end %>  
            </div>
        </div>    
    <% end %>
        
