<div class="container w-50 py-2">

  <h2 class="py-5">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, input_html: { placeholder: "ex: Darth", class: "form-control" } %>
      <%= f.input :last_name, input_html: { placeholder: "ex: Vader", class: "form-control" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }, input_html: { placeholder: "ex: darth_vader@gmail.com", class: "form-control" }%>
      <%= f.input :origin_planet, input_html: { placeholder: "ex: Tatooine", class: "form-control" } %>
      <%= f.input :pilot, label: "Are you a pilot?",as: :radio_buttons, collection: [["I'm a Pilot", true], ["I'm a Passenger", false]]  %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%# <%= render "devise/shared/links" %>
</div>


