
<div class="d-flex flex-column bd-highlight mb-3">
  <% @tickets.each do |ticket| %>
    <div class="card mb-3">
      <%= image_tag "mars.png", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Your journey</h5>
        <p class="card-text">
            <%= "Origin: #{ticket.trip.origin}" %>
            <%= "Destination: #{ticket.trip.destination}" %>
            <%= "Launch date: #{ticket.trip.launch_date}" %>
            <%= "Price US$:#{(ticket.trip.price).to_i}" %>
            <%= "Spaceship name: #{ticket.trip.spaceship_name}" %>
            <%= "Maximum tripulation:#{ticket.trip.max_tripulation}" %>
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  <% end %>
</div>