
<div class="container">
  <h1> These are the currently scheduled trips </h1>
  <ul>
    <% @tickets.each do |ticket| %>
      <li>
        <!-- <%= ticket.trip.id %> -->
        <%= "Origin: #{ticket.trip.origin}" %>
        <%= "Destination: #{ticket.trip.destination}" %><br>
        <%= "Launch date: #{ticket.trip.launch_date}" %><br>
        <%= "Price US$:#{(ticket.trip.price).to_i}" %><br>
        <%= "Spaceship name: #{ticket.trip.spaceship_name}" %><br>
        <%= "Maximum tripulation:#{ticket.trip.max_tripulation}" %><br>
      </li>
    <% end %>
  </ul>
  <%= image_tag "mars.png" %>
</div>