
<div class="cards d-flex flex-column bd-highlight mb-3">
  <% @tickets.each do |ticket| %>
    <div class="card mb-3">
      <%= image_tag "mars.png", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"> <strong> Your journey </strong></h5>
        <p class="card-text">
            <strong>Origin: </strong><%= ticket.trip.origin %>
        </p>  
        <p class="card-text">   
            <strong>Destination: </strong><%= ticket.trip.destination %>
        </p>   
        <p class="card-text">
            <strong>Launch date: </strong><%= ticket.trip.launch_date %>
        </p>     
        <p class="card-text">    
            <strong>Price US$: </strong><%= (ticket.trip.price).to_i * 1_000_000 %>
        </p>     
        <p class="card-text">   
            <strong>Spaceship name: </strong><%= ticket.trip.spaceship_name %>
        </p>     
        <p class="card-text">   
          <strong>Maximum Tripulation: </strong><%= ticket.trip.max_tripulation %>
        </p>
      </div>
    </div>
  <% end %>
</div>